body {
  /* background: rgb(2, 0, 36); */
  background: radial-gradient(circle,
      rgb(23, 15, 182) 0%,
      rgb(52, 189, 216) 0%,
      rgb(95, 95, 192) 100%);
  font-family: 'Times New Roman', Times, serif;
}

.container {
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
  

}

form {
  width: 90%;
  border: 2px solid #111111;
  padding-left: 50px;
  border-radius: 5px;
  background-color: antiquewhite;
  padding-bottom: 30px;
  margin-top: 100px;
}
form h1{
  margin-left: 15%;
  margin-top: 10%;
  font-weight: bolder;
  text-shadow: 3px 3px 3px rgb(203, 236, 245);
  color: rgb(31, 31, 148);
}
form label{
  margin-right: 20px;
  font-weight: bolder;
  align-items: right;
}
form select{
  width: 70px;
}
#TempIDInput{
  margin-left: 18.6%;
}
#TempNameInput{
  margin-left: 13.7%;
}
#Message{
  margin-left: 24.5%;
}
#MsgTypeSelect{
  margin-left: 16.2%;
}
#MsgFormatInput{
  margin-left: 12.2%;
}
#MsgFieldsSelect{
  margin-left: 14.4%;
  padding-left: 10px;
}
#note{
  color: #421eaf;
  font-size: x-small;
  font-weight: bold;
  margin-left: 0%;
}
#delineInput{
  margin-left: 23%;
}
#orgInput{
  margin-left: 9%;
}
#batchInput{
  margin-left: 23%;
  width: 160px;
}
#NetworkInput{
  margin-left: -10px;
}
button {
  background: rgb(31, 31, 148);
  color: white;
  padding: 5px;
  width: 70px;
  border: 2px solid rgb(190, 97, 146);
  font-weight: bolder;
  border-radius: 5px;
  margin-left: 35%;
  margin-top: 5%;
}
button:hover {
  background: rgb(184, 183, 242);
  color: rgb(31, 31, 148);
}

p {
  color: red;
  font-size: smaller;
  margin-left: 40%;
}

.message-success {
  background-color: aqua;
}
